<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Unit deconverter - make your units less useful!</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="includes/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Advent+Pro:400,200,100' rel='stylesheet' type='text/css'>

  <script src="includes/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
      <h1>Unit Deconverter</h1>
      <p>The unit deconverter will turn your useful units into less useful units.</p>
  </header>
  <div role="main">
      <form action="">
          <p>I would like to deconvert </p>
          <label for="unit-amount">Amount:</label>
          <input type="text" id="unit-amount" name="unit-amount" pattern="\d*(\.\d+)?" placeholder="how many" maxlength="20">

          <label for="unit-from">Unit:</label>
          <div class="select-container">
            <select name="unit-from" id="unit-from">
                <option value="mm">mm</option>
                <option value="metres" selected>metres</option>
                <option value="km">km</option>

                <option value="g">grams</option>
                <option value="kg">kg</option>
                <option value="tons">tons</option>

                <option value="seconds">seconds</option>
                <option value="days">days</option>
                <option value="years">years</option>

                <option value="mph">mph</option>
                <option value="kmph">kmph</option>

                <option value="pounds">£</option>
                <option value="mpounds">£million</option>
                <option value="bpounds">£billion</option>
            </select>
          </div>

          <button type="submit" id="go">Deconvert</button>
      </form>

      <dl id="results"><!-- results go here --></dl>
  </div>

  <script type="text/html" id='result-items'>
    <% _.each(results, function(result){ %>
      <!-- use variables -->
      <dd><span>= </span><%= result.value %></dd>
      <dt><%= result.name %></dt>
      <dd class="result-description"><%= result.description %></dd>
    <% }) %>
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="includes/js/libs/underscore-min.js"></script>
  <script src="includes/js/deconverter.js"></script>
  <script src="includes/js/plugins.js"></script>
  <script src="includes/js/script.js"></script>
  <script src="https://madebyloosers.github.io/looser-badge/looser-badge.min.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-29684348-2'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
